@{
    var produtos = ViewBag.Produtos as List<string>;
    var precos = ViewBag.Precos as List<double>;
}

<h1>Catálogo de Produtos</h1>

<table border="1">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>

    @for (int i = 0; i < produtos.Count; i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@produtos[i]</td>
            <td>R$ @precos[i]</td>
        </tr>
    }
</table>